<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>001-Fighter01000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{27,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,43}}</string>
        <key>sourceSize</key>
        <string>{27,43}</string>
      </dict>
      <key>001-Fighter01009.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,0},{26,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,42}}</string>
        <key>sourceSize</key>
        <string>{26,42}</string>
      </dict>
      <key>001-Fighter01001.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,0},{25,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,43}}</string>
        <key>sourceSize</key>
        <string>{25,43}</string>
      </dict>
      <key>001-Fighter01005.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{25,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,42}}</string>
        <key>sourceSize</key>
        <string>{25,42}</string>
      </dict>
      <key>001-Fighter01002.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,44},{23,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,43}}</string>
        <key>sourceSize</key>
        <string>{23,43}</string>
      </dict>
      <key>001-Fighter01003.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,44},{23,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,43}}</string>
        <key>sourceSize</key>
        <string>{23,43}</string>
      </dict>
      <key>001-Fighter01012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,45},{23,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,43}}</string>
        <key>sourceSize</key>
        <string>{23,43}</string>
      </dict>
      <key>001-Fighter01013.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,45},{23,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,43}}</string>
        <key>sourceSize</key>
        <string>{23,43}</string>
      </dict>
      <key>001-Fighter01010.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,89},{22,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,43}}</string>
        <key>sourceSize</key>
        <string>{22,43}</string>
      </dict>
      <key>001-Fighter01011.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,89},{22,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,43}}</string>
        <key>sourceSize</key>
        <string>{22,43}</string>
      </dict>
      <key>001-Fighter01007.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,89},{21,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,43}}</string>
        <key>sourceSize</key>
        <string>{21,43}</string>
      </dict>
      <key>001-Fighter01006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,90},{21,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,43}}</string>
        <key>sourceSize</key>
        <string>{21,43}</string>
      </dict>
      <key>001-Fighter01008.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,90},{21,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,42}}</string>
        <key>sourceSize</key>
        <string>{21,42}</string>
      </dict>
      <key>001-Fighter01004.png</key>
      <dict>
        <key>frame</key>
        <string>{{23,134},{21,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,42}}</string>
        <key>sourceSize</key>
        <string>{21,42}</string>
      </dict>
      <key>001-Fighter01014.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,134},{21,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,42}}</string>
        <key>sourceSize</key>
        <string>{21,42}</string>
      </dict>
      <key>001-Fighter01015.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,134},{21,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,42}}</string>
        <key>sourceSize</key>
        <string>{21,42}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>001-Fighter01.png</string>
      <key>size</key>
      <string>{124,176}</string>
      <key>textureFileName</key>
      <string>001-Fighter01.png</string>
    </dict>
  </dict>
</plist>